<%- include('layouts/librarian.ejs') %>


  <% for(book of allbooks){ %>
    <% if (book.copies!=0) { %>
        <h2><%=book.title%></h2>
        <ul>
          <img src="<%= book.photo %>" alt="" width="150" height="200">
           <li> <h4><%=book.author%></h4></li>
           <li> <h4><%=book.genre%></h4></li>
           <li> <h4><%=book.yop%></h4></li>
           <li> <h4><%=book.copies%></h4></li>
        </ul>
        <form action="/librarian/issue/<%=book.title%>" method="get">
            <button>Issue</button>
        </form>
    <% } %>
    <% } %>