<%layout('layouts/boilerplate') %>


  <% for(student of allStudents){ %>
        <% if (student.book.length === 0) { %>
          <% } else { %>
            <h1><%=student.name%> </h1>
            <ul>
              <% student.book.forEach(book => { %>
                <li><%= book.title %> by <%= book.author %></li>
                 <form action="/librarian/<%=student._id %>/<%=book._id%>?_method=DELETE" method="POST"><button>Return</button></form>
              <% }) %>
            </ul>
          <% } %>


  <% } %>