<%layout('layouts/boilerplate') %>
<%- include('../layouts/student.ejs') %>
<% if(student.book.length===0){ %>
              <h1>No Books Taken</h1>
  <% }else{ %>  
           <h1>Total books taken : <%= student.book.length %></h1>
               <% for(book of student.book){ %>
                   <img src="<%= book.photo %>" alt="" width="150" height="200">
                   <h2><%=book.title%></h2>
                        <ul>
                                <li> <h4>Author:<%=book.author%></h4></li>
                                <li> <h4>Genre:<%=book.genre%></h4></li>
                                <li> <h4>Year Of publication:<%=book.yop%></h4></li>
                        </ul>
               <% } %>
<% } %>